src/main/mule/cicd-v2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config"
		doc:id="2371b5fa-a826-4336-96de-633187f1ef84">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<flow name="cicdFlow"
		doc:id="a02b6635-cd85-408c-b19f-1257090c04da">
		<http:listener doc:name="Listener"
			doc:id="d18736f3-f829-495e-b9d1-19cf11f82710"
			config-ref="HTTP_Listener_config" path="/test" />
		<set-payload
			value='#["Hi, Bighensh Kuamr Sahoo , Application Devloper"]'
			doc:name="Set Payload" doc:id="01321596-8b2f-4bbf-8e32-31d4917c2da1" />
	</flow>
</mule>
